.watch-container {
    padding: 30px 10px 10px;
    margin: -40px auto 0;
    background: #222;
    overflow: hidden;
    max-width: 980px;
    font-family: Arial, Tahoma;
    font-size: 14px;
    color: #dcdcdc;

    .block-note {
        margin: 10px 0 0;
        border: 1px solid #ff9601;
        background: #000;
        padding: 10px;

    }

    .breadcrumb {
        background: #252525;
        padding: 8px 15px;
        list-style: none;
        border-radius: 4px;
        display: flex;
        align-items: center;
        text-align: center;

        .title {
            display: inline-block;
            list-style: none;

            .title-link {
                font-size: 15px;
                font-weight: 400;
                color: #fff;
                margin: 0;
                text-decoration: none;

                span {
                    color: #ff9601;
                    display: flex;
                    font-size: 15px;
                    text-align: center;
                    align-items: center;

                    p {
                        margin: 0 0 0 2px;
                        font-size: 14px;
                    }
                    .item {
                        color: #ff9601;
                        font-size: 12px;
                    }

                }
            }
        }

        .name {
            display: flex;
            list-style: none;

            .item-category {
                display: flex;
                list-style: none;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: #ff9601;
                font-size: 15px;

                .item {
                    color: #ff9601;
                    font-size: 12px;
                }
            }

        }
        .name-movie{
            color: #ff9601;
            display: flex;
            font-size: 15px;
            text-align: center;
            align-items: center;
            .item {
                color: #ff9601;
                font-size: 12px;
            }
        }

        li {
            font-size: 14px;
            color: #dcdcdc;
            list-style: none;
            font-weight: 500;
        }
    }

    .box-player {
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 99;

        .player {
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 56.25%;
            background-color: #000;

            .movie {
                width: 100%;
                height: 0;
                padding-bottom: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.3);
                }

                .poster {
                    position: absolute;
                    width: 250px;
                    height: 150px;
                    object-fit: cover;
                    border: 1px solid #fff;
                    bottom: 10px;
                    left: 10px;
                }


            }
            .play-icons {
                text-decoration: none;
                background: rgba(255, 150, 1, .75);
                height: 50px;
                width: 50px;
                position: absolute;
                top: 45%;
                left: 50%;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                transform: scale(1.5);
                transition: all .3s ease-in-out;
                cursor: pointer;
                opacity: .7;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: 15px solid transparent;
                    border-left: 20px solid #fff;
                    margin: -15px 0 0 -6px;
                }

                &:hover {
                    transform: scale(1.8);
                }
            }

            .control-player {
                top: 90%;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                border: none;
                border-radius: 0;
                background-size: auto;
                box-shadow: none;
                max-height: 72px;
                transition: 250ms cubic-bezier(0, .25, .25, 1);
                transition-property: opacity, visibility;
                transition-delay: 0s;

                .progress-bar {
                    height: 10px;
                    width: 100%;
                    align-items: center;
                    background: transparent none;
                    padding: 0 20px;
                    z-index: 1;
                    outline: none;
                    display: flex;
                    border-radius: 5px;
                    margin: 0 12px;
                }

                .btn-player {
                    display: flex;
                    flex-flow: row nowrap;
                    flex: 1 1 auto;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0 12px;

                    .play-time {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        .play-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .volume-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .time-icon {
                            font-size: 16px;
                        }
                    }

                    .play-setting {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;

                        .reset-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .fast-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .player-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .set-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }

                        .room-icon {
                            height: 44px;
                            width: 44px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            font-size: 24px;
                        }
                    }

                }

            }
        }

        .film-note {
            margin-bottom: 20px;
            border: 1px solid #B8B612;
            padding: 5px;
        }

        .hide {
            line-height: 1.42857143;
            height: 20px;
        }

        .options {
            overflow: hidden;
            margin: 10px 0 0;

            .tool {
                float: right;

                li {
                    float: left;
                    margin: 0 0 0 10px;
                    cursor: pointer;
                    font-size: 11px;
                    list-style: none;
                    display: flex;
                    align-items: center;
                }

                .off-ads {
                    color: #ff9601;
                    font-size: 20px;

                    img {
                        width: 38px;
                        vertical-align: middle;
                    }
                }

                .power-lamp {
                    span {
                        line-height: 30px;
                        margin: 0 3px 0 0;
                    }

                    .off-lamp {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        color: #000;
                        align-items: center;
                        text-align: center;
                        justify-content: center;
                        line-height: 30px;
                        font-size: 20px;
                        background-position: center center;
                        background: -webkit-radial-gradient(circle, #808080, #3a3a3a);
                    }
                }

                .autoplay {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    align-items: center;

                    span {
                        float: left;
                        font-size: 11px;
                        line-height: 30px;
                        margin: 0 3px 0 0;
                    }

                    .toggle-button {
                        display: inline-block;
                        padding: 4px;
                        background-color: #333;
                        border-radius: 30px;
                        font-family: Arial, sans-serif;

                        .buttons {
                            display: flex;

                            .button {
                                border: none;
                                color: white;
                                padding: 4px;
                                cursor: pointer;
                                font-size: 10px;
                                transition: all 0.3s ease;
                                border-radius: 50%;
                                font-weight: 700;

                            }

                            .yes {
                                background-color: #333;
                            }

                            .no {
                                background-color: #FFA500;
                            }

                            .selected {
                                color: #FFA500;
                                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                                background-color: #fff;
                            }

                            .no-active {
                                color: #333;
                                background-color: #fff;
                            }
                        }
                    }

                    .active {
                        background-color: #FFA500;
                    }

                    .active .no {
                        background-color: #D3D3D3;
                        color: #000;


                    }

                    .active .yes {
                        background-color: #FFA500;
                    }

                }
            }
        }
    }

    .server {
        margin: 0;
        padding: 0;

        .server-list {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 100%;

            .backup-server {
                list-style: none;
                list-style-type: none;
                border: 1px solid #7c7777;
                border-radius: 3px;
                padding: 3px;
                display: inline-block;
                line-height: 1.42857143;
                margin-right: 5px;
                margin-bottom: 5px;

                .server-title {
                    font-size: 12px;
                    font-weight: 700;
                    display: inline-block;
                    margin: 0;
                    background-color: #f1864c;
                    color: #181818;
                    padding: 7px;
                    white-space: nowrap;
                    border-radius: 3px;
                }

                .list-episode {
                    display: inline-block !important;

                    .episode {
                        display: flex;
                        margin: 0;
                        padding: 0;

                        li {
                            list-style: none;
                            margin-left: 5px;
                            padding: 7px;
                            font-size: 12px;
                            border-radius: 3px;

                        }

                        .episode1 {
                            background-color: #f2a900;
                            font-weight: 700;
                            color: #702526;
                        }

                        .episode2 {
                            cursor: pointer;

                            background-color: #121212;
                            color: #fff;

                            &:hover {
                                background-color: #e87d7f;
                                color: #702526
                            }
                        }
                    }


                }
            }
        }

    }

    .list-server {
        padding: 10px;
        border-radius: 5px;
        overflow: hidden;
        color: #fff601;
        max-width: 1000px;
        margin: 10px auto;
        background: #333;
        padding-bottom: 5px;

        .server-group {
            margin: 0;
            padding: 0;

            .icon-data {
                margin-right: 4px;
            }


            ul {
                margin: 20px -7px;
                text-align: center;
                border-bottom: 1px solid #4c4c4c;
                font-size: 0;
                position: relative;
                z-index: 99;

                .item-chapter {
                    list-style: none;
                    display: inline-block;
                    margin: 0 5px 15px;

                    .name-chapter {
                        float: left;
                        margin: 5px;
                        padding: 7px;
                        background: #3a3a3a;
                        color: #fdfdfd;
                        border-radius: 3px;
                        font-size: 13px;
                        list-style: none;
                        border: none;
                        font-weight: 700;

                        &:hover {
                            text-decoration: none;
                            background-color: #ff9601;
                        }
                        &:focus{
                            background-color: #ff9601;

                        }
                       

                    }
                    .active{
                        background: #ff9601;

                    }

                    .first-item {
                        background: #ff9601;
                    }
                   
                }
            }

        }
    }

    .box-rating {
        overflow: hidden;
        margin: 0 0 5px;

        p {
            font-size: 20px;
            color: #f78144;
            margin: 0;
            line-height: 1.42857143;

            .text {
                font-size: 12px;
                color: #ddd;
                margin-left: 4px;
            }
        }

        .star {
            cursor: pointer;
            text-align: left;
            vertical-align: middle;
            color: #edaf24;

            .icon-star {
                margin-right: 4px;
                width: 16px;
                height: 16px;
            }

            .no-active {
                color: #fff;
            }
        }

        .average {
            float: left;
            line-height: 20px;
            margin: 0 5px;
            font-size: 14px;
            color: #dcdcdc;
        }
    }

    .social {
        margin: 0;
        overflow: hidden;

        .fb-like {
            display: inline-block;
            position: relative;
            display: flex;

            vertical-align: bottom;
            width: 150px;
            height: 28px;
            text-align: justify;

            button {
                border-radius: 3px;
                font-size: 11px;
                height: 20px;
                padding: 0 6px;
                color: #fff;
                border: none;
            }

            .like {
                background-color: rgb(60 117 239);
                margin-right: 6px;
                display: flex;
                text-align: center;
                align-items: center;

                .icons {
                    font-size: 14px;
                    margin-right: 4px;
                }
            }

            .share {
                background-color: rgb(60 117 239);
                font-family: Helvetica, Arial, sans-serif;
                vertical-align: middle;
                font-weight: bold;
                display: flex;
                text-align: center;
                align-items: center;
            }
        }

        .fb-save {
            display: flex;
            position: relative;
            vertical-align: bottom;
            align-items: center;
            text-align: center;

            .save {
                border-radius: 4px;
                font-size: 13px;
                height: 28px;
                padding: 0 8px;
                background: #fff;
                border: 1px solid #ccd0d5;
                color: #4267b2;
                font-weight: bold;

                .save-icon {
                    height: 16px;
                    vertical-align: middle;
                    width: 16px;
                    padding-right: 4px;
                }

            }
        }


    }

    .block-film {
        margin: 10px 0;
        overflow: hidden;
        border-bottom: 1px solid #3a3a3a;
        padding: 0 0 10px;
        clear: both;

        li {
            color: #828282;
            width: 30%;
            float: left;
            margin: 0 3% 0 0;
            list-style: none;

            label {
                color: #fff;
                font-size: 13px;
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }

            .type {
                color: rgb(255, 0, 0);
            }

            span {
                font-family: Arial, Tahoma;
                font-size: 14px;
                color: #828282;
            }
        }
    }



    .film-info {


        .film-content {
            margin: 10px 0 0;
            border-bottom: 1px solid #3a3a3a;
            padding: 0 0 10px;
            line-height: 1.5em;

            .film-heading {
                font-size: 28px;
                margin: 20px 0 8px;
                color: #ff9601;
                font-weight: 500;
                line-height: 1.1;
            }

            .decs-head {
                font-size: 16px;
                margin: 0 0 10px;
                font-weight: 700;
                color: #fff;
            }

            .decs-text {
                padding: 4px 4px;
                margin: 5px 0 20px 0;
                line-height: 26px;
                font-size: 12px;
                color: #BBB;
                background: #322b2b;

            }
        }

        .comment {
            background: #fff;
            padding: 5px;
            margin: 20px 0 0;
            border-radius: 3px;

            .content-cmt {
                padding-left: 8px;
                padding-right: 8px;
                font-size: 14px;
                line-height: 1.358;
                word-break: break-word;
                word-wrap: break-word;

                .header-cmt {
                    width: 100%;
                    height: 50px;
                    border-bottom: 1px solid #e9ebee;
                    line-height: 25px;
                    margin-bottom: 24px;
                    padding: 8px 0;
                    zoom: 1;

                    .number {
                        float: left;
                        line-height: 25px;
                        font-weight: 600;
                    }

                    .sort {
                        float: right;
                        font-size: 14px;
                        display: flex;
                        position: relative;

                        span {
                            color: #4b4f56;
                            font-family: Helvetica, Arial, sans-serif;
                            margin-right: 4px;
                        }

                        .dropbtn {
                            background-color: #f5f6f7;
                            border: 1px solid #ccd0d5;
                            border-radius: 2px;
                            font-size: 12px;
                            font-weight: bold;
                            padding: 0 8px;
                            position: relative;
                            text-align: center;
                            text-shadow: none;
                            vertical-align: middle;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            &:focus .dropdown-content,
                            &:active .dropdown-content {
                                display: block;
                            }

                            .up {
                                margin-top: -6px;
                                margin-left: 4px;
                                margin-right: -12px;
                            }

                            .down {
                                margin-left: -8x;
                                margin-top: 6px;
                            }
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #f9f9f9;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                            z-index: 1;

                            li {
                                color: black;
                                padding: 12px 16px;
                                display: block;
                                list-style: none;

                                &:hover {
                                    background-color: #f1f1f1;
                                }
                            }
                        }
                    }
                }
            }

            .write-cmt {
                margin-bottom: 24px;
                zoom: 1;
                display: flex;
                align-items: center;

                img {
                    margin-right: 8px;
                }

                .text-btn {
                    width: 100%;
                    border: 1px solid #d3d6db;
                    border-top: 0;

                    .btn-cmt {
                        display: flex;
                        align-items: center;
                        justify-content: right;
                        background: #f5f6f7;
                        text-align: right;
                        padding: 8px;

                        .push {
                            background-color: #4267b2;
                            color: #fff;
                            font-size: 14px;
                            white-space: normal;
                            padding: 0 8px;
                            position: relative;
                            text-align: center;
                            text-shadow: none;
                            vertical-align: middle;
                            -webkit-font-smoothing: antialiased;
                            border-radius: 2px;
                            box-sizing: content-box;
                            border: 1px solid;
                            font-weight: bold;
                            line-height: 22px;
                            cursor: pointer;
                        }
                    }


                    input {
                        width: 100%;
                        overflow: hidden;
                        position: relative;
                        font-size: 14px;
                        line-height: 1.358;
                        word-break: break-word;
                        word-wrap: break-word;
                        background: #fff;
                        border: 1px solid #bdc7d8;
                        box-sizing: border-box;
                        cursor: text;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 11px;
                        font-size: 16px;
                        padding: 12px 8px;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .list-cmt {
                display: block;
                unicode-bidi: isolate;
                font-size: 14px;
                line-height: 1.358;
                word-break: break-word;
                word-wrap: break-word;

                .cmt-item {
                    margin-top: 12px;
                    display: flex;

                    img {
                        height: 48px;
                        width: 48px;
                    }

                    .item-content {
                        margin-left: 8px;

                        .name {
                            font-weight: 600;
                            white-space: nowrap;
                            color: #385898;
                            cursor: pointer;
                            font-family: Helvetica, Arial, sans-serif;
                        }

                        .item-decs {
                            margin-bottom: 4px;
                            margin-top: 4px;
                            word-wrap: break-word;
                        }

                        .feeling {
                            font-size: 12px;
                            line-height: 1.358;
                            padding-top: 2px;
                            cursor: pointer;
                            color: #4267b2;
                            display: flex;
                            text-align: center;
                            align-items: center;

                            p {
                                color: #4267b2;
                                font-size: 12px;
                                line-height: 1.358;
                                margin: 0;
                            }

                            span {
                                margin: 0 4px;
                                margin-bottom: 4px;
                            }

                            .time {
                                color: #90949c;
                            }
                        }
                    }
                }
            }
        }
    }



}