.content {
  width: 100%;
  margin-top: 40px;
  max-width: 1500px;
  margin: 0 auto;

  .container {
    margin: 0 auto;

    .detail__heading {

      overflow: hidden;
      margin: 15px 0 20px;

      .heading {
        float: left;
        color: #ff8a00;
      }

      .order {
        margin: 0;
        padding: 0;
        float: right;

        li {
          display: inline-block;
          text-decoration: none;
          margin: 0 0 0 10px;
          list-style: none;
          align-items: center;
          justify-content: center;

          select {
            border: 1px solid #4c4c4c;
            background: #303030;
            color: #fff;
            outline: none;
            padding: 5px;
            font-size: 13px;
            font-weight: 700;
            text-transform: none;
          }

          .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            background-color: #303030;
            color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          }

          span {
            display: flex;
            align-items: center;
          }

          .submit-filter {
            padding: 7px;
            background: #ff9601;
            color: #f5f5f5;
            font-size: 13px;
            font-weight: 700;
            cursor: pointer;

          }
        }
      }
    }

    .text {
      margin: 0 0 10px 0;
      overflow: hidden;
      padding: 5px 10px;
      list-style: none;
      background-color: #302e2e;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      .breadcrumb {
        background: #252525;
        padding: 8px 15px;
        list-style: none;
        border-radius: 4px;

        .title {
          display: flex;

          span {
            color: #ff9601;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;

            .title-link {
              color: #ff9601;
              text-decoration: none;
              padding: 0 2px;
              font-size: 15px;
              font-weight: 400;
            }

            li {
              font-size: 14px;
            }
          }

          li {
            color: #fff;
            list-style: none;
            text-decoration: none;
          }
        }
      }

      .desc {
        margin: 22px 0 27px;
        padding: 20px;
        background-color: #423e3e;
        color: #dcdcdc;

        .desc-detail {
          color: #ff9601;
          text-decoration: none;
          padding: 0 2px;
          font-weight: 700;
        }
      }

      .clear {
        clear: both;
      }
    }

    .heading__content {

      .card {
        margin-right: -10px;
        position: relative;
        overflow: hidden;

        .card__item {
          float: left;
          width: 20%;
          position: relative;
          font-size: 15px;
          list-style: none;
          margin-top: -5px;

          .link {
            text-decoration: none;

            .lable {
              position: absolute;
              display: inline;
              padding: 5px;
              font-size: 11px;
              color: #fff;
              background: #1b2a39;
              border-bottom: 2px solid #bb3c2f;
              border: 1px solid #1b2a3900;
              position: relative;
              top: 5px;
              z-index: 2;
              font-weight: 400;
              background-size: 200% 100%;
              background-image: linear-gradient(to right, #C02425 0%, #F0CB35 51%, #C02425 100%);
              transition: .7s;
              line-height: 1;
              text-align: center;
              white-space: nowrap;
              vertical-align: baseline;
              border-radius: .25em;


              &:after {
                content: '';
                border-bottom: 6px solid #dd8b52;
                border-left: 6px solid transparent;
                display: block;
                border-right: 6px solid transparent;
                bottom: -10px;
                left: 50%;
                position: absolute;
                transform: translate(-50%, -50%) rotate(180deg);
              }
            }

            .card__image {
              top: -16px;
              margin: 0 10px 0 0;
              display: block;
              position: relative;
              overflow: hidden;
              height: 135px;
              height: 133.875px;


              .card-thumbnail {
                width: 100%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                vertical-align: middle;
                border: 0;

                &:hover {
                  transform: scale(1.3);
                }

              }

              .card__title {
                position: absolute;
                bottom: -10px;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, .6);
                color: #fff;
                padding: 10px;
                line-height: 1.3em;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                font-size: 15px;
                margin-top: 20px;
                margin-bottom: 10px;
              }

              .play-icons {
                color: #ff9601;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                opacity: 0;
                transform: scale(1.5);
                transition: all .3s ease-in-out;



                &:after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  border: 15px solid transparent;
                  border-left: 20px solid #fff;
                  margin: -15px 0 0 -6px;
                }
              }
            }

            &:hover .play-icons {
              display: block;

            }
          }


        }


      }

      .pagination {
        display: flex;
        justify-content: center;
      }


    }
  }

}