.movie {
    width: 100%;

    &__heading {
        display: flex;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        align-items: center;

        .heading__content {
            display: flex;
            justify-content: center;

            .heading__type {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-left: 60px;
            }

        }
        
        button {
            color: #fff;
            padding: 3px 5px;
            background: #0b0f15;
            border-bottom: 2px solid #1a1a1a;
            display: inline-table;
            margin-left: 8px;
            height: 30px;
            cursor: pointer;
            transition: .7s all;
            background: #504d49;

            &:hover {
                background-color: #ff6901;
                border-bottom: 2px solid #ff6901;

                color: #fff;

            }
        }

    }

    &__list {
        width: 100%;
        max-width: 1500px;
        margin-right: -10px;
        position: relative;
        overflow: hidden;

        .movie__item {
            float: left;
            width: 20%;
            position: relative;
            font-size: 15px;
            font-size: 85%;

            .lable {
                position: absolute;
                padding: 5px;
                font-size: 11px;
                color: #fff;
                background: #1b2a39;
                border-bottom: 2px solid #bb3c2f;
                border: 1px solid #1b2a3900;
                position: relative;
                top: 20px;
                z-index: 2;
                font-weight: 400;
                background-size: 200% 100%;
                background-image: linear-gradient(to right, #C02425 0%, #F0CB35 51%, #C02425 100%);
                transition: .7s;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;


                &:after {
                    content: '';
                    border-bottom: 6px solid #dd8b52;
                    border-left: 6px solid transparent;
                    display: block;
                    border-right: 6px solid transparent;
                    bottom: -10px;
                    left: 50%;
                    position: absolute;
                    -webkit-transform: translate(-50%, -50%) rotate(180deg);
                    transform: translate(-50%, -50%) rotate(180deg);
                }
            }

            .movie__image {
                margin: 0 10px 10px 0;
                display: block;
                position: relative;
                overflow: hidden;
                height: 133.875px;

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: all .3s ease-in-out;
                }

                h3 {
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, .6);
                    color: #fff;
                    padding: 10px;
                    line-height: 1.3em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 15px;

                }
            }

        }
    }
}