.movie-recent {
    margin: 20px 0 0;
    padding: 10px 0 15px 0;
    border-top: 1px solid #4c4c4c;

    .movie__heading {
        margin: 15px 0 20px;

        p {
            font-size: 25px;
            float: left;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 15px;
            padding: 16px 0;
            color: #ff8a00;

        }
    }

    .mar-8 {
        margin: 0 8px;
    }

    .slider-recent {
        position: relative;
        overflow: hidden;
        width: 100%;
        margin-left: 8px;

        .slick-next,
        .slick-prev {
            &::before {
                display: none;
            }

        }

        .custom-arrow1 {
            background: 0 0;
            padding: 0;
            margin: 0;
            position: absolute;
            top: 50%;
            font-size: 80px;
            opacity: .6;
            color: #ff9601;
            margin-top: -35px;
            z-index: 100;
            opacity: 0.5;
            display: block;
            outline: none;

            &:hover {
                opacity: 1;
            }
        }

        .slick-next {
            right: 50px;
        }

        .movie__item1 {
            float: left;
            width: 20%;
            position: relative;
            font-size: 15px;
            list-style: none;

            &:hover {

                .play-movie {
                    opacity: .8;
                    transform: scale(1);

                }
            }

            .lable1 {
                position: absolute;
                padding: 5px;
                font-size: 11px;
                color: #fff;
                z-index: 2;
                left: 0;
                background: #ff9601;
                border-radius: 0 5px 5px 0;

            }

            .movie__image {
                display: block;
                margin: 0 15px 0 0;
                overflow: hidden;
                height: 117px;
                position: relative;


                &:hover {
                    img {
                        transform: scale(1.3);
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    transition: all .4s ease-in-out;
                    vertical-align: middle;
                    border: 0;



                }

                p {
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    right: 0;
                    background: rgba(0, 0, 0, .7);
                    color: #fff;
                    padding: 10px;
                    line-height: 1.3em;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 15px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-weight: 500;


                }

            }

            .play-movie {
                background: #ff9601;
                height: 50px;
                width: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -25px 0 0 -25px;
                border-radius: 50%;
                opacity: 0;
                transform: scale(1.5);
                transition: all .3s ease-in-out;

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border: 15px solid transparent;
                    border-left: 20px solid #fff;
                    margin: -15px 0 0 -6px;
                }
            }


        }
    }

    .slick-slider .slick-arrow {
        display: none !important;
    }
}